* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.App {
  background-image: url("./components/assets/GE.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
